<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">




        <form action="" class="layui-form layuimini-form" lay-filter="dataForm" id="AddOrUpdateForm" style="width: 50%;margin-left: 25%">
            <input type="number" name="id" style="display: none;">
            <div class="layui-form-item">
                <label class="layui-form-label required">课程名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" lay-reqtext="不能为空" placeholder="请输入名称" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">课程分类</label>
                <div class="layui-input-block">
                    <select name="typeCourseId" lay-verify="required">
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">适合年级</label>
                <div class="layui-input-block">
                    <input type="text" name="adaptLevel" lay-verify="required" lay-reqtext="不能为空" placeholder="请输入适合年级" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">人数/班</label>
                <div class="layui-input-block">
                    <input type="number" name="numberClass" lay-verify="required" lay-reqtext="不能为空" placeholder="请输入每班人数" value="" class="layui-input">
                    <tip>填写每班的人数。</tip>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">班级</label>
                <div class="layui-input-block">
                    <select name="typeCourseClassId" lay-verify="required">
                        <option value=""></option>
                        <option value="1">初级班</option>
                        <option value="2">中级班</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">费用</label>
                <div class="layui-input-block">
                    <input type="number" name="price" lay-verify="required" lay-reqtext="不能为空" placeholder="请输入课程价格" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">详细图文介绍</label>
                <div class="layui-input-block">
                    <textarea id="editor_id" name="detail" style="width: 100%;height: auto"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script charset="utf-8" src="../editor/kindeditor-all.js"></script>
<script charset="utf-8" src="../editor/lang/zh-CN.js"></script>
<script th:inline="none">
    KindEditor.ready(function(K) {
        // var options = {
        //     cssPath : '/css/index.css',
        //     filterMode : true
        // };
        // var editor = K.create('textarea[name="content"]', options);
        window.editor = K.create('#editor_id');
    });
    layui.use(['form'], function () {
        var $ = layui.jquery,
            form = layui.form;

        var urlBase = '/q_course';

        var requestData = {};
        requestData.role = sessionStorage.getItem("role");
        requestData.token =sessionStorage.getItem("token");

        //设置 课程分类 select
         var ajaxCourse = $.ajax({
            url:'/q_courseType/all',
            data:requestData,
            success:function (result) {
                if ( 0 === result.code){
                    var data = result.data ;
                    var selectHtml = $("#AddOrUpdateForm").find("select[name='typeCourseId']");
                    selectHtml.empty().append('<option value=""></option>');
                    for (var i = 0 ; i < data.length ; i ++ ){
                        selectHtml.append(
                            '<option value="'+data[i].id+'">'+data[i].name+'</option>'
                        );
                    }
                    form.render();
                }else {
                    layer.alert(result.msg);
                }
            }
        });

        //设置 班级类别 select
        var ajaxClass = $.ajax({
            url:'/q_courseClassType/all',
            data:requestData,
            success:function (result) {
                if ( 0 === result.code){
                    var data = result.data ;
                    var selectHtml = $("#AddOrUpdateForm").find("select[name='typeCourseClassId']");
                    selectHtml.empty().append('<option value=""></option>');
                    for (var i = 0 ; i < data.length ; i ++ ){
                        selectHtml.append(
                            '<option value="'+data[i].id+'">'+data[i].name+'</option>'
                        );
                    }
                    form.render();
                }else {
                    layer.alert(result.msg);
                }
            }
        });




        var url , mainIndex ;

        function updateFunction(obj) {
            layer.open({
                title: '编辑课程班级信息',
                type: 1,
                shade: 0.2,
                maxmin:true,
                shadeClose: true,
                area: ['50%', '100%'],
                content: $("#AddOrUpdateForm"),
                success:function (layero,index) {
                    form.val("dataForm",obj.data);

                    url = urlBase+'/update';
                    mainIndex = index;
                }
            });
        }

        form.verify({

        });

        url = urlBase + '/add';

        //倘若有id，则设置初值
        var href = window.location.href ;
        var courseId ;
        var its = href.split('?');
        if (its.length > 1 ){
            courseId = its[1].split('=')[1];
            url = urlBase +'/update';
        }

        requestData.id = courseId ;

        $.ajax({
            url:'/q_course/get',
            data:requestData,
            success:function (result) {
                if ( 0 === result.code){
                    var data = result.data ;

                    $.when(ajaxClass,ajaxCourse).done(function () {
                        form.val('dataForm',data);
                    });

                    form.render();

                    window.editor.html(data.detail);

                }else {
                    layer.alert(result.msg);
                }
            }
        });





        form.on("submit(saveBtn)",function (data) {
            var requestData = data.field;
            requestData.role = sessionStorage.getItem("role");
            requestData.token = sessionStorage.getItem("token");

            requestData.detail = window.editor.html();

            $.ajax({
                url:url,
                data:requestData,
                success:function (result) {

                    if (0 === result.code){

                        $("#AddOrUpdateForm")[0].reset();
                        form.render();

                        window.editor.html("");

                        layer.msg(result.msg,{time:2000});
                    }else {
                        layer.alert(result.msg);
                    }
                }
            });

            return false ;
        });


    });
</script>




</body>
</html>