<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.course.course_stage.MybaitsGenerator.Mapper.MyUserParentsMapper">

  <resultMap id="UserParentVo" type="com.school.course.course_stage.VO.UserParentsVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="delete_at" jdbcType="TIMESTAMP" property="deleteAt" />
    <result column="schoolName" jdbcType="VARCHAR" property="school"/>
  </resultMap>

  <select id="myGetAll" resultMap="UserParentVo">
        select 	p.id, p.name, p.account, p.school_id, p.grade, p.role, p.remark, p.phone,
                s.name as schoolName
        from user_parents p, user_school s
        where p.school_id=s.id
  </select>

  <select id="mySelect" resultMap="UserParentVo" parameterType="com.school.course.course_stage.VO.UserParentsVo">
    <bind name="pattern1" value="'%' + name + '%'" />
    <bind name="pattern2" value="'%' + school + '%'" />
    select 	p.id, p.name, p.account, p.school_id, p.grade, p.role, p.remark, p.phone,
            s.name as schoolName
    from user_parents p, user_school s
    <where>
      <if test="1 == 1">
          p.school_id=s.id
      </if>
      <if test="phone != ''">
        and p.phone = #{phone}
      </if>
      <if test="school != ''">
        and s.name like #{pattern2}
      </if>
      <if test="name != ''">
        and p.name like #{pattern1}
      </if>
      <if test="grade != ''">
        and p.grade = #{grade}
      </if>
    </where>

  </select>

</mapper>