<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.course.course_stage.MybaitsGenerator.Mapper.Q_Mapper">

  <resultMap id="BaseResultMap" type="com.school.course.course_stage.DTO.Q_CourseSchoolDTO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="courseName" jdbcType="VARCHAR" property="courseName" />
    <result column="schoolName" jdbcType="VARCHAR" property="schoolName" />
    <result column="schoolId" jdbcType="INTEGER" property="schoolId" />
    <result column="courseId" jdbcType="INTEGER" property="courseId" />
    <result column="setId" jdbcType="INTEGER" property="setId" />
    <result column="adaptTime" jdbcType="VARCHAR" property="adaptTime" />
  </resultMap>



  <select id="getBySchoolId" parameterType="java.lang.Integer"  resultMap="BaseResultMap">

    select
    c.id courseId ,
    c.name courseName ,
    cs.school_id schoolId ,
    cs.school_name schoolName ,
    cs.adapt_time adaptTime,
    cs.id setId

    from course c left join
		( SELECT * from  course_school where school_id = #{schoolId,jdbcType=INTEGER}  ) cs
      on c.id =cs.course_id

  </select>



  <select id="getBySchoolIdAndLike" parameterType="map" resultMap="BaseResultMap" >

    select
    c.id courseId ,
    c.name courseName ,
    cs.school_id schoolId ,
    cs.school_name schoolName ,
    cs.adapt_time adaptTime,
    cs.id setId

    from course c left join
		( SELECT * from  course_school where school_id =  #{schoolId,jdbcType=INTEGER  ) cs
      on c.id = cs.course_id

    where c.name like #{name,jdbcType=VARCHAR})
  </select>















  <!--<sql id="Example_Where_Clause">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--<where>-->
      <!--<foreach collection="oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Update_By_Example_Where_Clause">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--<where>-->
      <!--<foreach collection="example.oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Base_Column_List">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--id, name, type_course_id, number_class, adapt_level, type_course_class_id, price,-->
    <!--detail-->
  <!--</sql>-->
  <!--<select id="selectByExample" parameterType="com.school.course.course_stage.MybaitsGenerator.Entity.CourseExample" resultMap="BaseResultMap">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--select-->
    <!--<if test="distinct">-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from course-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null">-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--select-->
    <!--<include refid="Base_Column_List" />-->
    <!--from course-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--delete from course-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<delete id="deleteByExample" parameterType="com.school.course.course_stage.MybaitsGenerator.Entity.CourseExample">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--delete from course-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.school.course.course_stage.MybaitsGenerator.Entity.Course">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--insert into course (id, name, type_course_id,-->
      <!--number_class, adapt_level, type_course_class_id,-->
      <!--price, detail)-->
    <!--values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{typeCourseId,jdbcType=INTEGER},-->
      <!--#{numberClass,jdbcType=INTEGER}, #{adaptLevel,jdbcType=VARCHAR}, #{typeCourseClassId,jdbcType=INTEGER},-->
      <!--#{price,jdbcType=REAL}, #{detail,jdbcType=VARCHAR})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.school.course.course_stage.MybaitsGenerator.Entity.Course">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--insert into course-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="name != null">-->
        <!--name,-->
      <!--</if>-->
      <!--<if test="typeCourseId != null">-->
        <!--type_course_id,-->
      <!--</if>-->
      <!--<if test="numberClass != null">-->
        <!--number_class,-->
      <!--</if>-->
      <!--<if test="adaptLevel != null">-->
        <!--adapt_level,-->
      <!--</if>-->
      <!--<if test="typeCourseClassId != null">-->
        <!--type_course_class_id,-->
      <!--</if>-->
      <!--<if test="price != null">-->
        <!--price,-->
      <!--</if>-->
      <!--<if test="detail != null">-->
        <!--detail,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="name != null">-->
        <!--#{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="typeCourseId != null">-->
        <!--#{typeCourseId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="numberClass != null">-->
        <!--#{numberClass,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="adaptLevel != null">-->
        <!--#{adaptLevel,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="typeCourseClassId != null">-->
        <!--#{typeCourseClassId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="price != null">-->
        <!--#{price,jdbcType=REAL},-->
      <!--</if>-->
      <!--<if test="detail != null">-->
        <!--#{detail,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<select id="countByExample" parameterType="com.school.course.course_stage.MybaitsGenerator.Entity.CourseExample" resultType="java.lang.Long">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--select count(*) from course-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--update course-->
    <!--<set>-->
      <!--<if test="record.id != null">-->
        <!--id = #{record.id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.name != null">-->
        <!--name = #{record.name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.typeCourseId != null">-->
        <!--type_course_id = #{record.typeCourseId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.numberClass != null">-->
        <!--number_class = #{record.numberClass,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.adaptLevel != null">-->
        <!--adapt_level = #{record.adaptLevel,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.typeCourseClassId != null">-->
        <!--type_course_class_id = #{record.typeCourseClassId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.price != null">-->
        <!--price = #{record.price,jdbcType=REAL},-->
      <!--</if>-->
      <!--<if test="record.detail != null">-->
        <!--detail = #{record.detail,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--update course-->
    <!--set id = #{record.id,jdbcType=INTEGER},-->
      <!--name = #{record.name,jdbcType=VARCHAR},-->
      <!--type_course_id = #{record.typeCourseId,jdbcType=INTEGER},-->
      <!--number_class = #{record.numberClass,jdbcType=INTEGER},-->
      <!--adapt_level = #{record.adaptLevel,jdbcType=VARCHAR},-->
      <!--type_course_class_id = #{record.typeCourseClassId,jdbcType=INTEGER},-->
      <!--price = #{record.price,jdbcType=REAL},-->
      <!--detail = #{record.detail,jdbcType=VARCHAR}-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.school.course.course_stage.MybaitsGenerator.Entity.Course">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--update course-->
    <!--<set>-->
      <!--<if test="name != null">-->
        <!--name = #{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="typeCourseId != null">-->
        <!--type_course_id = #{typeCourseId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="numberClass != null">-->
        <!--number_class = #{numberClass,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="adaptLevel != null">-->
        <!--adapt_level = #{adaptLevel,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="typeCourseClassId != null">-->
        <!--type_course_class_id = #{typeCourseClassId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="price != null">-->
        <!--price = #{price,jdbcType=REAL},-->
      <!--</if>-->
      <!--<if test="detail != null">-->
        <!--detail = #{detail,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.school.course.course_stage.MybaitsGenerator.Entity.Course">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
      <!--This element was generated on Tue Feb 08 20:40:42 CST 2022.-->
    <!--&ndash;&gt;-->
    <!--update course-->
    <!--set name = #{name,jdbcType=VARCHAR},-->
      <!--type_course_id = #{typeCourseId,jdbcType=INTEGER},-->
      <!--number_class = #{numberClass,jdbcType=INTEGER},-->
      <!--adapt_level = #{adaptLevel,jdbcType=VARCHAR},-->
      <!--type_course_class_id = #{typeCourseClassId,jdbcType=INTEGER},-->
      <!--price = #{price,jdbcType=REAL},-->
      <!--detail = #{detail,jdbcType=VARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>